@using RealStoriesExposed.ViewModels

@model IEnumerable<StoryViewModel>


@foreach (var story in Model)
{
    <div class="post-preview">
        <a href="@Url.Action("Story","Home", new { id = story.Id })">
            <h2 class="post-title">
                @story.Title
            </h2>
            <h3 class="post-subtitle">
                @story.Content.Substring(0, 5)
            </h3>
        </a>
        <p class="post-meta">Posted by  <a href="#">@story.Author.UserName</a> on @story.CreatedOn</p>
    </div>
    <hr>
} 
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="#">Older Posts &rarr;</a>
        </li>
    </ul>

